cloudpickle==1.4.1
matplotlib==3.2.1
cycler==0.10.0
dask==2.17.2
DateTime==4.3
fsspec==0.7.4
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.4
pandas==1.0.4
pathlib==1.0.1
prompt-toolkit==3.0.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scipy==1.4.1
six==1.15.0
toolz==0.10.0
tqdm==4.46.0
wcwidth==0.2.3
zope.interface==5.1.0
Axelrod==4.9.1
